<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reservation time:</strong>
    <%= reservation.reservation_time %>
  </p>

  <p>
    <strong>Inactive:</strong>
    <%= reservation.inactive %>
  </p>

</div>
